/* COLORS 
#231942 deep purple
#5E548E grey purple
#9F86C0 lavender
#BE95C4 lightest purple
#E0B1CB pink

*/
/* HEADER */
.header {
  align-items: flex-end;
  background-color: #9F86C0;
  color: #231942;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: space-evenly;
}

.font-size {
  font-size: 26px;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.four {
  flex-direction: column;
}

/* MAIN */

.whole-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cards-container {
  border:#231942;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  grid-column: span 1;
}

.card-header {
  height: 15vh;
}

.right-side-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-text {
  flex-direction: column;
  justify-content: flex-end;
}

.card-header > img {
  display: flex;
  max-height: 150px;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.card-body {
  height: 25vh;
}